.ui-tabs-vertical { width: 85%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { height: 150px; width: 100px; clear: left; white-space: normal; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; height: 100%}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 85%}
.table 
{
    width: 75%;
    margin: auto;
}

.panel-default
{
    width: 75%;
    margin: auto;
}

.level
{
    width: 20%;
    margin: auto;
    margin-bottom: 50px;    
}

.glyphicon
{
    position: initial;    
    margin: auto; 
    line-height: 2;
}

h1
{
    text-align: center;
    text-shadow: 2px 2px gray;
    margin-bottom: 40px;
}

.ui-widget-content
{
    background: #D6EBF7;
}