#page-wrapper
{

    background-size: contain;

}

.navbar-nav > li
{  
    width: 150px;
    height: 150px;  
}

.navbar-nav
{
    background-color : transparent;
    overflow: visible;
}

.side-nav
{  
    width: 150px;  
}

#wrapper
{
    padding-left: 150px;

}

.side-nav > li > a
{
    background-color: yellow;

    width: 150px;
    height: 150px; 
    box-sizing: content-box;
    padding: 0;
}

.side-nav > li > a > ul
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.side-nav > li > a > ul > li
{
    width: 70px;
    height: 100%;
    display: inline-block;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    background-color: #007AB1;
    color: black;
    word-break: break-all;
    float: left;
    overflow: visible;
}

/*tekst np. wyspa, budnki*/
.side-nav > li > a > ul > li > div
{
    text-align: center;
    background-color: #007AB1;

    width: 15px;
    height: 100%;  
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;  
    text-align: center;
    line-height: 20px;
    box-sizing: content-box;
    overflow: hidden;  
    color: white;
}

/*pasek gorny - liczba tur*/
.navbar-inverse
{
    /*background-color: #0033CC;*/
}


.fa-beer
{
    padding-top: 50px;

}

.nav .navbar-nav .side-nav
{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.buildings-info
{
    display: inline;
}

.dashboard-panel-text > div
{
    display: inline;

}

.page-header 
{
    margin: 10px 0px 20px;
}

body
{
    background-color:  #c4e3f3;
}

#page-wrapper
{
    background-color: #c4e3f3;
}

.badge
{
    color: #FFCF00 !important;
    background-color: #3B5998 !important;
}

.panel-footer
{
    background-color: #93C261;
    color: #843534;
}

.btn-success
{
    width: 45%;    
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #6EAC2C;
    
    border-color: #398439;
}

.btn-success:hover
{
    color: #FFF;
    background-color: #93C261;
    border-color: #398439;
}