.ui-tabs-vertical { width: 85%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { height: 35px; width: 35px; clear: left; white-space: normal; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; height: 100%}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 85%}

.panel-info
{
    width: 80%;
    min-height: 75px;
    margin: auto;
    border: 0px;

}

.row:first-child
{
    margin-top: 30px;
}

.row
{
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2;

}

.badge
{
    font-size: 22px;
    background-color:#3b5998;
}

.unitsInfoHeader
{
    font-weight: 600;
}

.btn-success
{
    min-width: 350px;

}

.form-inline
{
    width: 100%;
}

.form-group
{
   width: 100%; 
}

.input-group
{
    width: 100%; ;
}

.input-lg
{
    width: 90%;
    margin-right: 5px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.courceButton
{
    width: 50px;
}

.table 
{
    width: 50%;
    margin: auto;
}

h2
{
    text-align: center;
    text-shadow: 2px 2px gray;
    margin-bottom: 40px;
}